<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
		<title th:text="|Home ${ user.getFullName() }|"></title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="d-flex flex-column justify-content-center align-content-center p-4 h-100">
			<div class="bg-body-secondary pb-3 pt-3 pe-5 ps-5">
				<div class="d-flex flex-row justify-content-between h2 fs-2 mb-3">
					<div th:text="${ user.fullName }">
					</div>
					<div th:text="|Credit: € ${ user.credit }|">
					</div>
					
				</div>
				<div class="fs-5 mb-2">
					<a th:href="@{./dettagli}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Profilo</a>
				</div>
				<div class="fs-5 mb-2">
					<a th:href="@{./carrello}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Carrello</a>
				</div>
				<th:block th:if="${ user.isAdmin() }">
					<div class="fs-5 mb-2">
						<a th:href="@{./prodotti}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Gestione prodotti</a>
					</div>
				</th:block>
				<div class="fs-5 mb-2">
					<a th:href="@{./carica}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Ricarica credito</a>
				</div>
				<div class="fs-5">
					<a href="./logout" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Logout</a>
				</div>			
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>